DATABASE_URL="postgres://871fd016522ecec33dd83c633ec2340cdc29e6d9c742aea209825c1b84a7cf4e:sk_hrRstPvakIoLo6LtjITpw@db.prisma.io:5432/postgres?sslmode=require"
POSTGRES_URL="postgres://871fd016522ecec33dd83c633ec2340cdc29e6d9c742aea209825c1b84a7cf4e:sk_hrRstPvakIoLo6LtjITpw@db.prisma.io:5432/postgres?sslmode=require"
PRISMA_DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19oclJzdFB2YWtJb0xvNkx0aklUcHciLCJhcGlfa2V5IjoiMDFLQkpGM1kwOTZOSEhSOTZRUkI1NlZNUFEiLCJ0ZW5hbnRfaWQiOiI4NzFmZDAxNjUyMmVjZWMzM2RkODNjNjMzZWMyMzQwY2RjMjllNmQ5Yzc0MmFlYTIwOTgyNWMxYjg0YTdjZjRlIiwiaW50ZXJuYWxfc2VjcmV0IjoiYmVmZWRjNTEtMGU4NC00OGI4LTkwMDQtYTVmNWFiZGVlZmRiIn0.-GAWog6TGl9T7XYcxhg4pgCIBiay__9Vpz3c9m1kHcQ"